.card {
    background: rgb(122, 71, 3);
    border-radius: 2px;
    box-shadow: 0 3px 6px rgb(206, 8, 8), 0 3px 6px rgb(105, 6, 6);
    text-align: left;
    justify-content: center;
}

.card>.img-container {
    overflow: hidden;
    text-align: center;
    background: black;
    justify-content: center;  
    margin: 20px;   
}

.card>.img-container>img {
    width: 150px;   
}